*{
    margin: 0;
    box-sizing: border-box;
}

body{
    /*background: #ff623b;*/
    background-image: linear-gradient(to bottom, #1f1f24 60%, rgb(39, 39, 39) 70%);
    font-family: "Poppins";
}

.cabecalho{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.menu{
    color: #fff;
    display: flex;
}

.menu-list ,a{
    letter-spacing: 1.5px;
    color: #fff;
    font-size: 12;
    display: flex;
    list-style: none;
    gap: 32px;
    text-transform: uppercase;
    text-decoration: none;
    
}

.menu-list li{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* criando as tabs*/
.menu-list li{
    background: transparent;
    padding: 16px;
    outline: none;
    position: relative;
}

.menu-list li::after{
    bottom: 0;
    left: 0;
    position: absolute;

    content: "";
    height: 2px;
    width: 0%;

    background-color: rgb(44, 139, 139);
    transition: .4s;
}

.menu-list li:hover::after, li.active::after{
    width: 100%;
}

.logo{
    font-family: 'Mr Dafoe', cursive;
    content: " ";
    width: 3.2rem;
    height: 3.2rem;
    letter-spacing: 2px;
    line-height: 2.8rem;
    text-align: center;
    left: 40;
    border: 3px solid;
    border-radius: 50%;
    position:fixed;
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0px;
    
}

.logo:hover{
    background-color: rgb(44, 139, 139);
    transition: .4s;
}


.language{
    font-family: "Poppins";
    background-color: rgb(27, 26, 26);
    color: #fff;
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 20%;
    letter-spacing: 0.1em;
    position: absolute;
    right: 40;
    font-size: 12px;
}

.language:hover{
    color: rgb(252, 252, 70);
}

.contactlist{
    float: left;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    position: fixed;
    bottom: 0;

}

/* criando linha abaixo da lista de redes sociais*/
.contactlist::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #ffffff;
}

.contactlist svg{
    
    width: 20px;
    height: 20px;
    color: #fff;
}

.contactlist svg:hover{
    color: rgb(60, 185, 185);
    transition: .4s;
    transform: scale(1.1);
}

.email{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;

    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
}

.email a{
    margin: 20px auto;
    text-transform: lowercase;
    font-size: 12px;
    letter-spacing: 0.2em;
    writing-mode: vertical-rl;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.email a:hover{
    transition: .4s;
    color: rgb(44, 139, 139);
    transform:translateY(1.1)
}

.email::after{
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    margin: 0px auto;
    background-color: white;
    
}

footer{
    display: flex;
    align-items: center;
    font-size: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: rgb(80, 80, 80);
    height: 50px;
    align-items: center;
    padding-left: 50px;
}

img{
    width: 20px;
    height: 20px;
}

.logos-footer{
    display: flex;
    right: 0;
    position:absolute;
    gap: 8px;
    padding-right: 50px;
}

